.DS_Store
*.aux
*.bcf
*.idx
*.xml
*.out
*.bbl
handbook*.aux
handbook*.bcf
handbook*.dep
handbook*.fls
handbook*.idx
handbook*.idx.fixed
handbook*.idx.ilg
handbook*.ind
handbook*.out
handbook*.run.xml
handbook*.bbl
handbook*.blg
handbook*.toc
handbook*pdf
handbook*.bbl-SAVE-ERROR
handbook*.fdb_latexmk
handbook*.ilg
*.pyc
*.swp
*.log
data/tar
#*#
.#*
.idea
